@font-face {
  font-family: "ArabicUthmani";
  src: url("/fonts/Uthmani.otf");
  font-display: swap;
}

@font-face {
  font-family: "arabic";
  src: url("/fonts/arabic.otf") format("opentype");
  font-display: swap;
}