:root {
  --primary-background-color: #F0ECE4;
  --secondary-background-color: #CFCAB4;
  --primary-color: #3D503E;
  --secondary-color: #837289;
  --text-color-light: #FFF;
  --text-color-dark: #1C2A28;
  --line-color: #CC8473;
}