@import './variables', './fonts', './helpers';

body {
  background-color: var(--primary-background-color);
}

.container {
  max-width: 600px;
  margin: auto;
  color: var(--text-color-dark);
}

.page-content {
  padding: 2rem 0;
}

.arabic {
  font-family: 'ArabicUthmani';
}

.txt-bismillah {
  text-align: center;
  font-size: 30px;
}