@import './variables', './fonts', './helpers';

body {
  background-color: var(--primary-background-color);
}

.container {
  max-width: 600px;
  margin: auto;
  color: var(--text-color-dark);
}

.page-content {
  padding: 2rem 0;
  &--header {
    background-color: var(--line-color);
    border-radius: 20px;
    padding: 1rem;
    display: flex;
    justify-content: center;
    color: var(--text-color-light);
    .surah-info {
      margin-bottom: 15px;
      &--title {
        font-size: 20px;
        margin-bottom: 2px;
        margin-top: -15px;
        font-weight: bold;
      }
      .arabic {
        text-align: center;
        font-size: 24px;
      }
      text-align: center;
    }
  }
}

.arabic {
  font-family: 'arabic';
  text-align: right;
  line-height: 3;
}

.txt-bismillah {
  text-align: center;
  font-size: 34px;
}